header{
    background-color:darkcyan;
    padding: 10px;
    text-align: center;
}
#menu ul {
    
    list-style-type: none;
    text-align: center;
}
  
#menu li {
    
    display: inline-block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    
}
#menu li a{
    color: #0c0b0b;
    font-size: 20px;
}
.sub-menu li a{
    background-color:cornflowerblue;
    border-radius: 20px;
    text-align: center;
}
  
#menu ul li a {
    text-decoration: none;
    color: #f1f1f;
    display: block;
}
#menu ul li a:hover {
    
    background: #e4c9c9;
    color: #0C0A0A;
    border-radius: 20px;
}
#menu ul li > .sub-menu {
    display: none;
    position: absolute;
}
#menu li {
    position: relative;
}
.sub-menu {
    display: none;
    position: absolute;
}
#menu ul li:hover .sub-menu {
    display: block;
}
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.product {
    margin: 3px;
    padding: 20px;
}

.product a img {
    height: auto;
    max-width:100%;
}
.product span img{
    max-width: 100px;
    border: 1px solid #171515;
    border-radius: 5px;
    position: relative;
    left: 10px;
}

.product span img:hover{
    filter: drop-shadow(0 0 10px rgb(212, 183, 183));
    scale: 1;
}

.information{
    background-color: #f9f7f7;
    border: 1px solid #fefcfc;
    border-radius: 5px;
    margin: 10px;
    padding: 25px;
    text-align:start;
   

}

.informtion p{
    max-width: 100%;
}

.information span img{
    max-width: 90px;
    border: 1px solid #171515;
    border-radius: 5px;
}
.information span img:hover{
    filter: drop-shadow(0 0 10px rgb(212, 183, 183));
    scale: 1;
}

.table1{
    background-color: #fcfcfc;
    padding: 15px;
    margin: 15px;
    text-align: center;
   
}
.table1 tr td{
    color: #060606;
    padding-left: 5px;
}

.mua{
    font-size: 20px;
    color: #faf4f4;
    background-color: #181717;
    width:100% ;
    height: 40px;
}
.mua:hover{
    transition: all 0.5;
    color: #090909;
    background-color: rgb(240, 246, 246);
}
.introduce p {
    color: #0f0e0e;
    position: relative;
    left: 40px;

    padding: 5px;
    max-width:91%;
    height: auto;
}
.introduce img{
    position: relative;
    left: 40px;
    max-width: 80%;
}
.anh img{
    max-width: 40%;
    
    position: relative;
    left: 60px;
    
    
}
form{
   text-align: center;

}
form input{
    min-width:50%;
    height: 40px;
    margin: 20px;
    
}

.gui{
    
    
    width: 150px;
    padding: 10px;
    margin: 20px;
    font-size: 20px;
    color: #fefafa;
    background-color: #080101;
    
}


.footer {
    position: relative;
    bottom: 1px;
    background-color: #181717;
    color: #f0ebeb;
    padding: 30px 0;
    
}

.footer span{
    position: relative;
    left: 50px;
}



